<form action="/contactUs" method="POST">
  <div class="mb-3">
    <label for="fullname" class="form-label">Name</label>
    <input type="text" name="fullname" class="form-control" id="fullname" 
        placeholder="Enter fullname">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="message" class="form-label">Message</label>
    <input type="text" name="message" class="form-control" id="message" 
        placeholder="Type message..">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>