<form>
  <div class="mb-3">
    <label for="fullName" class="form-label">Name</label>
    <input type="text" class="form-control" id="fullName" placeholder="Your full name; 'Given name' and 'Surname'">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email address">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="message" class="form-label">Message</label>
    <input type="text" class="form-control" id="message" placeholder="Type your message.">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>