<div class="row mt-5">

    <div class="col-sm">
        {{!-- <div class="card" style="width: 18rem;"> --}}
        <div class="card" height="100%">
            <img src="{{user.image}}" class="card-img-top" alt="...">
        </div>
    </div>

    <div class="col-sm">
        <h5 class="card-title">Name: {{user.fullname}}</h5>
        <p class="card-text"><b>Email: </b>{{user.email}}</p>
    </div>

</div>